<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./cus.css">
</head>
<body>
    <div class="main">
        <h1 class="heading"> Customer <br> Management System</h1>
    <div class="input-element">
        <label for="txtid">ID:</label>
        <input type="text" name="" id="txtid">
    
    
        <label for="txtname">Name:</label>
        <input type="text" name="" id="txtname">
    

        <label for="txtaddress">Address:</label>
        <textarea name="" id="txtaddress" cols="30" rows="10"></textarea>
    
    
        <label for="txtmobno">Mob.No:</label>
        <input type="text" name="" id="txtmobno">
    </div>

    <div class="input-btn">
        <input type="button" value="Add">
        <input type="button" value="Search">
        <input type="button" value="Modify">
        <input type="button" value="Delete">
        
    </div>

    <div class="input-btn">
        <input type="button" value="First">
        <input type="button" value="Previous">
        <input type="button" value="Next">
        <input type="button" value="Last">
    </div>

    <div>
        <table id="customers">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Mobile NO</th>
            </tr>
            <tr>
                <td>1</td>
                <td>ss</td>
                <td>333</td>
                <td>dedd</td>
            </tr>
        </table>
    </div>

</div>


    


</body>
</html>